.title{
  position: fixed;
  z-index: 10;
  top: 10px;
  right: 10px;
  text-align: right;
  user-select: none;
}

.title-big-text{
  font-family: 'Saiba-45 Outline', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 100px;
  color: #fff;
}

.title-small-text{
  font-family: 'Exo 2', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #888;
  font-size: 20px;
}

.title-fade-out{
  display: none;
}

@media only screen and (max-width: 1100px)  {
  .title{
    transform: translate(50%, -50%) scale(0.75) translate(-50%, 50%);
  }
}

@media only screen and (max-width: 950px)  {
  .title{
    transform: translate(50%, -50%) scale(0.6) translate(-50%, 50%);
  }
}

@media only screen and (max-width: 810px)  {
  .title{
    transform: none;
    width: 100%;
    text-align: center;
    right: 0;
    z-index: 100;
  }

  .title-fade-out{
    content: "";
    display: block;
    width: 100%;
    height: 200px;
    background: linear-gradient(to bottom, #000 50%, #0000);
    position: fixed;
    top: 0;
    z-index: 99;
  }

  .title svg{
    display: none;
  }

  .title-big-text{
    font-size: 90px;
  }
}